/neuroConstruct/cellMechanisms/CaDynamics_E2_NML2/CaDynamics_E2_NML2.nml.alternative
/neuroConstruct/generatedNeuroML2/html/
/neuroConstruct/generatedNeuroML2/mods/*.dat
/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/simulator.props
/neuroConstruct/generatedNeuroML2/*.dat
/neuroConstruct/generatedNeuroML2/*.mod
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*nrn.py
/neuroConstruct/ggg
*.*~
*.lems
*.log
*.svg
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
.DS_Store

LEMS_Test*.xml
*.js
/NEURON/test/*.dat
*_netpyne.py
*_code.gen.c
*code.gen.so
*_eden.py
